/* Style the sidebar VBox with a blue gradient background */
#vb {
    -fx-background-color: linear-gradient(to bottom, #2193b0, #6dd5ed);
}

/* Optional: style the login button */
#loginButton {
    -fx-background-color: #2193b0;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-background-radius: 5;
    -fx-cursor: hand;
    -fx-border-color: white;
    -fx-border-width: 1;
}

#loginButton:hover {
    -fx-background-color: #19738a;
}

#birthDatePicker {
    -fx-background-color: #2193b0;
}

#userIdField {
    -fx-border-color: #2193b0;
}

#passcodeField {
    -fx-border-color: #2193b0;
}

#colorComboBox {
    -fx-border-color: #2193b0;

}

#signButton {
    -fx-background-color: #2193b0;
    -fx-border-color: white;
    -fx-text-fill: white;
}

#c_a_Button {
    -fx-background-color: #2193b0;
    -fx-border-color: white;
    -fx-text-fill: white;
}

#c_a_Button:hover {
    -fx-background-color: #19738a;
    -fx-text-fill: white;
}

#signButton:hover {
    -fx-background-color: #19738a;
    -fx-text-fill: white;
}

#helpButton {
    -fx-background-color: #2193b0;
    -fx-border-color: white;
    -fx-text-fill: white;
}

#helpButton:hover {
    -fx-background-color: #19738a;
    -fx-border-color: white;
    -fx-text-fill: white;
}